
#menu-h{
    background-color: black;
}
#menu-h ul {
    list-style: none;
    padding: 0;
    margin-left: 5%;
}
#menu-h ul li {
    display: inline;
}
#menu-h ul li a {
    text-decoration: none;
    color: rgb(233, 233, 233);
    padding: 12px;
    display: inline-block;
}

#menu-h ul li a:hover {
    background-color: #282828;
    color:#FFF
}
#live{
    background-color: #282828;
}
#circle {
    max-width: 12px;
    min-width: auto;
    margin-left: 5px;
  }
#saude{
    font-weight: bold;
}