.container {
    display: flex;
    max-width: 876px;
  }

  .manchete{
      align-items: justify;  
      margin-left: 6%;
      margin-right: 20%;
      max-width: 876px; 
  }
  .manchete h1{
    text-align: justify; 
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    color: #262626;
  }
  .texto-manchete{
    text-align: justify; 
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    max-width: 876px; 
    color: #4d4d4d;
  }
  .autor{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    font-style: normal;
    text-align: justify;
    color: #4d4d4d; 
	  border-bottom: 1px solid rgb(228, 228, 228);
  }
  .autor b u{
    color:#262626;
  }
  .autor hr{
    border-width: 0;
    border-top-width: 1px;
    height: 1px;
    border-color: #acacac;
  }
  .horario-mocado{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    font-style: normal;
    text-align: justify; 
    color: #4d4d4d; 
  }
  .logo-cnn{
    background-color: white;
  }
  .logo-cnn img{
    max-width: 130px;
    display: block;
    margin-left: auto;
    min-width: auto;
    margin-right: 17%;
  }
  .texto-noticia{
    max-width: 744px;
    display: block;
    margin-left: auto;
  }
  .texto-noticia p{
    font-size: 18px;
    line-height: 28px;
    letter-spacing: .01em;
    color: #4d4d4d;
    font-weight: 400;
  }
  .texto-noticia a{
    color: #418FFF;
    font-weight: 500;
  }